<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-list class="container" >
    <ion-item class="list">
      <ion-input
      type="text"
      fill="solid"
      label="Usuário"
      labelPlacement="floating"
      helperText="Enter para confirmar"
      errorText="Usuário invalido"
      ngModel
      text
     ></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input
      type="tel"
      fill="solid"
      label="Telefone"
      labelPlacement="floating"
      helperText="Digite um número de telefone válido"
      errorText="Número de telefone inválido"
      ngModel
      ></ion-input>
    </ion-item>
  
    <ion-item>
     
      <ion-input
      type="password"
      fill="solid"
      label="Senha"
      labelPlacement="floating"
      helperText="Digite uma senha segura"
      errorText="Senha inválida"
      ngModel
      ></ion-input>
    </ion-item>
  
    <ion-item>
     
      <ion-input
      type="password"
      fill="solid"
      label="Repetir Senha"
      labelPlacement="floating"
      helperText="Repita a senha para confirmação"
      errorText="As senhas não coincidem"
      ngModel
      ></ion-input>
    </ion-item>

  </ion-list>
</ion-content>

<app-footer></app-footer>