<app-header></app-header>

<ion-content [fullscreen]="true">

  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-lg="6">
      <form #criarContaForm="ngForm" (ngSubmit)="criarConta(criarContaForm.value)">

        <ion-item class="list">
          <ion-input
          type="text"
          name="email"
          fill="solid"
          label="Usuário"
          labelPlacement="floating"
          text
          ngModel
          ></ion-input>
          </ion-item>
        
          <ion-item>
            <ion-input
            type="tel"
            name="telefone"
            fill="solid"
            label="Telefone"
            labelPlacement="floating"
            ngModel
            ></ion-input>
          </ion-item>
          
          <ion-item>
            
            <ion-input
            type="password"
            name="password"
            fill="solid"
            label="Senha"
            labelPlacement="floating"
            ngModel
            ></ion-input>
          </ion-item>
          
          
          <ion-item>
            
            <ion-input
            type="password"
            name="confirmPassword"
            fill="solid"
            label="Confirmar Senha"
            labelPlacement="floating"
            ngModel
            ></ion-input>
          </ion-item>
          
          <div class="button">
            <ion-button color="success" shape="round" type="submit" class="ion-padding">Cadastrar</ion-button>
          </div>
          
        </form>
    </ion-col>
  </ion-row>

</ion-content>

<app-footer></app-footer>
