<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar color="warning">
      <ion-title>User 0001</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" color="dark">
    
      <ion-item color="dark">
        <ion-button routerLink="/favorito" color="light" fill="clear">Favoritos</ion-button>
      </ion-item>
      <ion-item color="dark">
        <ion-button color="light" fill="clear">Horário de Atendimento</ion-button>
      </ion-item>
      <ion-item color="dark">
        <ion-button routerLink="/sobrenos" color="light" fill="clear">Contato</ion-button>
      </ion-item>
      <ion-item color="dark">
        <ion-button color="light" fill="clear">Login</ion-button>
      </ion-item>

    
    <ion-menu-toggle>
      <ion-button color="success" shape="round" fill="outline">
        <ion-icon name="close-outline"></ion-icon>
        FECHAR MENU
      </ion-button>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>

<ion-header class="header">
  <ion-row>
    <div size="auto">
  <img id="logo" src="../../assets/img/logo.png">
</div>
    
  <ion-toolbar class="toolbar" color="dark" style="height: 85px;" id="main-content">
    <ion-buttons slot="primary" class="ion-padding-top">
      <ion-button color="success" shape="round" class="pecaAgora" fill="solid">
        <ion-icon slot="end" name="cart-outline"></ion-icon>
        Peça Agora
      </ion-button>
      <ion-button>
        <ion-icon name="star-outline"></ion-icon>
      </ion-button>
      <ion-menu-toggle><ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button></ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar class="toolbar" id="secondToolbar" color="warning" style="height: 40px;">
    <ion-buttons slot="end" class="ion-padding-bottom" >
      <ion-button> Menu </ion-button>  
      <ion-button> Cardápio </ion-button>
      <ion-button> Eventos </ion-button>
      <ion-button> Sobre Nós </ion-button>
    </ion-buttons>
  </ion-toolbar>



</ion-row>
</ion-header>
