<ion-header class="header">
  <ion-row>
    
      <img id="logo" src="../../assets/img/logo.png">
  
    
  <ion-toolbar class="toolbar" color="dark" style="height: 85px;">
    <ion-buttons slot="primary">
      <ion-button color="success" shape="round" class="pecaAgora" fill="solid">
        <ion-icon slot="end" name="cart-outline"></ion-icon>
        Peça Agora
      </ion-button>
      <ion-button>
        <ion-icon name="star-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar class="toolbar" id="secondToolbar" color="warning" style="height: 40px;">
    <ion-buttons slot="end">
      <ion-button> Menu </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" routerLink="/cardapio">
      <ion-button> Cardápio </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button> Eventos </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button> Sobre Nós </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-row>
</ion-header>
