// .botao{
//     margin-right: 200px;
//     gap: 20px;
//     display: flex;
// }

.fonte{
    font-family: "Bahianita", sans-serif;
    font-size: 3rem;
}

#espacamento{
    padding: 15px;
}

.espacoWords{
    word-spacing: 50px;
}

.ajusteTudo{
    margin-left: 3rem;
}