<ion-content [fullscreen]="true">
  <app-header></app-header>

  <div class="display">
    <div>
      <div class="revisao padding">
        <h1> Revisar pedido: </h1>
      </div>

      <div class="botao">
        <ion-button color="success" shape="round" class="adicionar" routerLink="/cardapio">
          <ion-icon slot="end" name="cart-outline" color="light"></ion-icon>
          <ion-text color="light"> Sacola </ion-text>
        </ion-button>
      </div>

      <ion-row class="ion-justify-content-center" id="endereco">
        <ion-col>
          <ion-text class="revisao" id="espacamento">Endereço:</ion-text>
        </ion-col>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>Endereço</ion-label>
          </ion-item>
          <div>
            <ion-list>
              <ion-item class="list">
                <ion-input
                type="text"
                fill="solid"
                label="Nome"
                labelPlacement="floating"
                helperText="Opcional"
                ngModel
                text
               ></ion-input>
              </ion-item>
      
              <ion-item>
               
                <ion-input
                type="tel"
                fill="solid"
                label="Telefone"
                labelPlacement="floating"
                helperText="Para contato"
                ngModel
                ></ion-input>
              </ion-item>
            
              <ion-item>
                <ion-input
                type="text"
                fill="solid"
                label="CEP"
                labelPlacement="floating"
                errorText="CEP inválido"
                ngModel
                ></ion-input>
              </ion-item>
      
              <ion-item>
                <ion-input
                type="text"
                fill="solid"
                label="Número"
                labelPlacement="floating"
                ngModel
                ></ion-input>
              </ion-item>
            
              <ion-item>
               
                <ion-input
                type="text"
                fill="solid"
                label="Complemento"
                labelPlacement="floating"
                helperText="Opcional"
                ngModel
                ></ion-input>
              </ion-item>
      
              <ion-item>
                <ion-select label="Entrega">
                  <ion-select-option value="Retirar">Retirar no local</ion-select-option>
                  <ion-select-option value="Delivery">Delivery</ion-select-option>
                </ion-select>
              </ion-item>
      
            </ion-list>
          </div>
        </ion-accordion>
      </ion-row>
  
      

     <div></div>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>