.botao{
    margin-top: 80px;
    margin-right: 200px;
    gap: 20px;
    display: flex;
}

.display{
    display: flex;
}

.revisao{
    font-family: "Bahianita", sans-serif;
    font-size: 3rem;
}

#endereco{
    margin-top: 50px;
    margin-left: 400px;
}

#espacamento{
    padding: 15px;
}