<ion-content [fullscreen]="true">
  <app-header></app-header>

  <div class="display">
    <div>
      <div class="botao ion-padding">
        <ion-button color="success" shape="round" class="adicionar" routerLink="/cardapio">
          <ion-icon slot="end" name="cart-outline" color="light"></ion-icon>
          <ion-text color="light"> Continuar comprando </ion-text>
        </ion-button>
      </div>

      <div class="revisao">
        <h1> Revisar pedido: </h1>
      </div>

      <div>
        <ion-col>
          Produtos
        </ion-col>
      </div>
      

     <div></div>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>