.botao{
    margin-top: 80px;
    margin-right: 200px;
    gap: 20px;
    display: flex;
}

.display{
    display: flex;
}

.revisao h1{
    font-family: "Bahianita", sans-serif;
    font-size: 3rem;
}