<ion-header>
  <ion-row>
      <ion-col size="6" size-lg="auto">
          <ion-item>
              <ion-thumbnail>
                  <img alt="Chama Rustica" src="../../assets/img/logo.png"/>
              </ion-thumbnail>
          </ion-item>
      </ion-col>
  </ion-row>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center">
    <ion-col size="10" size-lg="8" class="ion-text-center">
      <ion-item>
        <ion-button color="success" shape="round" size="default" (click)="setOpen(true)"> Criar Categoria</ion-button>
        <ion-select label="Categoria" placeholder="Categoria" (ionChange)="setCategoria($event)">
          <ng-container *ngFor="let categoria of this.categoriaService.categorias">
            <ion-select-option value="{{ categoria.nome }}">{{ categoria.nome }}</ion-select-option>
          </ng-container>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
 <!-- FORM DE CADASTRO -->
 <ion-row class="ion-justify-content-center">
  <ion-col size="10" size-lg="8" class="ion-text-center">
    <ion-label>
      <h1>CADASTRAR PRODUTO</h1>
    </ion-label>
    <!-- <ion-item>
      <ion-input label="" type="file" [(ngModel)]="this.produtoService.produtos.imagem"></ion-input>
    </ion-item> -->

    <ion-item>
      <ion-input label="Nome do Produto:" [(ngModel)]="this.produtoService.produto.nome"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-input label="Descrição:" [(ngModel)]="this.produtoService.produto.descricao"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Preço:" [(ngModel)]="this.produtoService.produto.preco"></ion-input>
    </ion-item>

    <ion-item>
      <ion-toggle [checked]="true" aria-label="Enable Notifications"[(ngModel)]="this.produtoService.produto.ativo">Dísponivel:</ion-toggle>
  
    </ion-item>
    <ion-item lines="none">
      <ion-button slot="end" color="success" shape="round" size="default" (click)="salvar()">Salvar</ion-button>
    </ion-item>
  </ion-col>
</ion-row>

<!-- LISTAGEM DE ITENS  -->
<ion-row class="ion-justify-content-center">
  <ion-col size="10" size-lg="8">
    <ion-card>
      <ng-container *ngFor="let produto of this.produtoService.produtos">
        <ng-container *ngIf="this.crudService.isLoading">
          <ion-row>
            <ion-col>
              <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
            </ion-col>
            <ion-col>
              <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
            </ion-col>
            <ion-col>
              <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
            </ion-col>
            <ion-col>
              <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
            </ion-col>
            <ion-col>
              <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
            </ion-col>
            <ion-col>
              <ion-item lines="none">
                <ion-icon slot="end" name="pencil-outline"></ion-icon>
                <ion-icon slot="end" name="trash-outline" (click)="remover(produto.id)"></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>
        </ng-container>
        <ng-container *ngIf="!this.crudService.isLoading">
          <ion-row>
            <ion-col><img class="card-img" alt="" src="{{produto.imagem}}" /></ion-col>
            <ion-col>Nome: {{ produto.nome }}</ion-col>
            <ion-col>preco: {{ produto.preco }}</ion-col>
            <ion-col>Descrição: {{ produto.descricao}}</ion-col>
            
            <ion-col>
              <ion-item lines="none">
                <ion-icon slot="end" name="pencil-outline" (click)="atualizar(produto)"></ion-icon>
                <ion-icon slot="end" name="trash-outline" (click)="remover(produto.id)"></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>
        </ng-container>
      </ng-container>
    </ion-card>
  </ion-col>
</ion-row>

<ion-modal color="success" [isOpen]="isModalOpen" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title color="success">Criar Categoria</ion-title>
        <ion-buttons slot="end">
          <ion-button color="success"(click)="setOpen(false)">Sair</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
        <ion-input label="nome" [(ngModel)]="this.categoriaService.categoria.nome"></ion-input>
        <ion-button class="ion-padding" color="success" shape="round" size="default" (click)="salvarCategoria()">Salvar</ion-button>
    </ion-content>
  </ng-template>
</ion-modal>

</ion-content>


