//   .backgound-img{
//     background: url('{{this.banner.imagem}}') no-repeat center center / cover;
//     width: 100%;
//     height: 300px;
//   }

.backgound-img{
    background: url('/assets/img/fundo-madeira.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
}

.texto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    color: black;
  }

h1{
    font-size: 100px;
    font-weight: 600;
}

@media(max-width:768px)
{
    h1{
        font-size: 45px;
        font-weight: 600;
    }
}

