<ion-content [fullscreen]="true">
  <app-header></app-header>
  <app-banner-rustico texto="Cardápio"></app-banner-rustico>  
  <div class="text">
    <a href=""><h1 class="text-h1">Bebidas</h1></a>
    <a href=""><h1 class="text-h1">Hambúrgueres</h1></a>
    <a href=""><h1 class="text-h1">Porções</h1></a>
  </div>
  <ion-row class="container">
     <ion-col size="12" size-md="4" class="card-container" *ngFor="let cardapio of this.cardapios">
       <ion-card>
          <img src="{{cardapio.icon}}" alt="" srcset="" class="icon-img">
            <img class="card-img" alt="" src="{{cardapio.imagem}}"  />
            <ion-card-header>
              <ion-card-title>{{cardapio.nome}}</ion-card-title>
              <ion-card-subtitle>{{cardapio.preco}}</ion-card-subtitle>
            </ion-card-header>
            
            <ion-card-content>
              {{cardapio.descricao}}
            </ion-card-content>              
            <app-btn-adicionar texto="Adicionar" ></app-btn-adicionar>
          </ion-card>
        </ion-col>
  </ion-row>
  <app-footer></app-footer>
</ion-content>

