<ion-content [fullscreen]="true">
  <app-header></app-header>
  <app-banner-rustico texto="HAMBÚRGUERS"></app-banner-rustico>  
  <ion-row>
    <ion-col>
      <div class="text">
        <ion-label color="primary"><h1 class="text-h1">Bebidas</h1></ion-label>
        <ion-label color="primary"><h1 class="text-h1">Hambúrguer</h1></ion-label>
        <ion-label color="primary"><h1 class="text-h1">Porções</h1></ion-label>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ng-container *ngFor="let produto of this.produtoService.produtos">
     <ion-col size="12" sizelg="4" size-md="4" class="card-container">
      <ion-card>
            <ng-container *ngIf="produto.favorito">
           <img src="https://cdn1.iconfinder.com/data/icons/macster/70/.svg-17-512.png" class="icon-img" (click)="favoritar(produto)">
         </ng-container>
         <ng-container *ngIf="!produto.favorito">
           <img src="https://img.icons8.com/?size=48&id=19295&format=png" class="icon-img"  (click)="favoritar(produto)">
         </ng-container>
          <img class="card-img" alt="" src="{{produto.imagem}}" />
          <ion-card-header>

            <ion-card-title color="primary" class="card-titulo">{{produto.nome}}</ion-card-title>
            <ion-card-subtitle color="warning" class="card-preco">R${{produto.preco}}</ion-card-subtitle>

          </ion-card-header>
          
          <ion-card-content class="card-descricao">
            {{produto.descricao}}
          </ion-card-content>
          <app-btn-adicionar texto="Adicionar"  (click)="addProduto(produto)"></app-btn-adicionar>
        </ion-card>
        </ion-col>

        
    </ng-container>

  </ion-row>
  <app-footer></app-footer>
  <app-carrinho></app-carrinho>
</ion-content>

