.card-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;   
}

.card-img{
    width: 527px;
    height: 329px;
}

.icon-img{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    width: 48px;
    height: 48px;
}

.text{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height:100px;
   
}

.text h1{
    font-family: "Bahianita", sans-serif;
    color: var(--branco);
    font-size: 4rem;
}

a{
    text-decoration: none;
}

a:hover { text-decoration: underline; }
