
.card-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;   
}

.card-img{
    width: 527px;
    height: 329px;
}
.icon-img{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    width: 48px;
    height: 48px;
}
.text{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height:100px;
   
}

.text h1{
    font-family: "Bahianita", sans-serif;
    font-size: 4rem;
}

a{
    text-decoration: none;
}

.text h1:hover { text-decoration: underline; }


.carrinho{
    z-index: 999;
    position: fixed;
    left:70%;
    bottom: -5px;
    width: 31%;
}

.carrinho-titulo{

    font-family: "Bahianita", sans-serif;
    color:var(--preto);
    font-size: 1.5rem;
}

.carrinho-preco{
    font-family: "Bahianita", sans-serif;
    color:var(--amarelo);
    font-size: 1.5rem;
}
.list{
    max-height: 340px;
    overflow-y: scroll;
}

.incrementer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

ion-row{
    width: 100%;
}

