<ion-footer collapse="fade">
  
  <ion-toolbar class="toolbar" color="dark"  class="ion-padding-start">
    <ion-buttons>
      <ion-icon name="logo-whatsapp" slot="start"></ion-icon>
      <ion-button class="ion-text-capitalize"> Whatsapp </ion-button>
    </ion-buttons>
    <ion-buttons >
      <ion-icon name="logo-instagram" slot="start"></ion-icon>
      <ion-button class="ion-text-capitalize"> Instagram </ion-button>
    </ion-buttons>
    <ion-buttons>
      <ion-icon name="logo-facebook" slot="start"></ion-icon>
      <ion-button class="ion-text-capitalize"> Facebook </ion-button>
    </ion-buttons>

    <ion-avatar slot="end" >
      <img alt="Chama Rustica" src="../../assets/img/logo.png"/>
    </ion-avatar>
  </ion-toolbar>

</ion-footer>