<ion-footer collapse="fade">
  
  <ion-toolbar class="toolbar" color="dark"  class="ion-padding-start">

    <ion-buttons id="whats">
      <a href="https://bit.ly/3zs7Zg1" target="_blank"><ion-icon color="light" name="logo-whatsapp" slot="start"></ion-icon></a>
      <a href="https://bit.ly/3zs7Zg1" target="_blank"><ion-button color="light" class="rede-social"> Whatsapp </ion-button></a>
    </ion-buttons>

    <ion-buttons>
      <a href="https://www.instagram.com/chamarustica/" target="_blank"><ion-icon color="light" name="logo-instagram" slot="start"></ion-icon></a>
      <a href="https://www.instagram.com/chamarustica/" target="_blank"><ion-button color="light" class="rede-social"> Instagram </ion-button></a>
      
    </ion-buttons>

    <ion-buttons>
      <a href="https://www.facebook.com/chamarusticachoppeburger" target="_blank"><ion-icon color="light" name="logo-facebook" slot="start"></ion-icon></a>
      <a href="https://www.facebook.com/chamarusticachoppeburger" target="_blank"><ion-button color="light" class="rede-social"> Facebook </ion-button></a>
    </ion-buttons>

    <ion-thumbnail slot="end">
      <img alt="Chama Rustica" src="../../assets/img/logo.png"/>
    </ion-thumbnail>

  </ion-toolbar>

</ion-footer>