<ion-footer collapse="fade">
  
  <ion-toolbar class="toolbar" color="dark"  class="ion-padding-start">

    <ion-buttons id="whats">
      <a href="https://bit.ly/3zs7Zg1">
        <ion-icon name="logo-whatsapp" slot="start"></ion-icon>
       <ion-button class="rede-social"> Whatsapp </ion-button>
      </a>
    </ion-buttons>

    <ion-buttons>
      <a href="https://www.instagram.com/chamarustica/">
        <ion-icon name="logo-instagram" slot="start"></ion-icon>
        <ion-button class="rede-social"> Instagram </ion-button>
      </a>
    </ion-buttons>

    <ion-buttons>
      <a href="https://www.facebook.com/chamarusticachoppeburger">
       <ion-icon name="logo-facebook" slot="start"></ion-icon>
       <ion-button class="rede-social"> Facebook </ion-button>
      </a>
    </ion-buttons>

    <ion-thumbnail slot="end">
      <img alt="Chama Rustica" src="../../assets/img/logo.png"/>
    </ion-thumbnail>

  </ion-toolbar>

</ion-footer>