<ion-accordion-group>
  <ion-accordion value="first">
    <ion-item slot="header">
      <ion-label>CARRINHO</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-row  class="carrinho" >
        <ion-col>
          <ion-card>
            <ion-card-content>
              <ion-list class="list">
                <ng-container *ngFor="let item of carrinhoService.getcarrinhoItens()">
                  <ion-item class="ion-no-padding">
    
                    <ion-row class="container" >
                      <ion-col  size="12" size-md="3">
                        <ion-thumbnail>
                          <img alt="Silhouette of mountains" src="{{item.imagem}}" />
                        </ion-thumbnail>
                      </ion-col>
                      
                      <ion-col   size="12" size-md="3" class="carrinho-text">
                        <ion-card-subtitle class="carrinho-titulo" color="primary">{{item.nome}}</ion-card-subtitle>
                      </ion-col>
                      
                      <ion-col size="6" size-md="3">
                        <ion-label class="label">R$:  {{ item.subtotal | number : '1.2-2' }}</ion-label>
                      </ion-col>
  
                      <ion-col size="6" size-md="3" class="incrementer">
  
                        <ng-container *ngIf="item.quantidade==1">
                          <ion-icon name="trash-bin-outline"(click)="deletar(item)"></ion-icon>
                        </ng-container>
  
                        <ng-container *ngIf="item.quantidade > 1">
                          <ion-icon name="remove-outline" (click)="decrementer(item)"></ion-icon>
                        </ng-container>
  
                        <ion-label> {{item.quantidade}} </ion-label>
                        <ion-icon name="add-outline" (click)="incrementer(item)"></ion-icon>
  
                      </ion-col>
                      
                    </ion-row>
                  </ion-item>
                </ng-container>
  
                <ion-row class="finalizar">
                  <ion-col  size="12" size-md="8">
                    <ion-item  class="total ion-no-border">
                      <ion-label> TOTAL:  R$: {{ this.carrinhoService.total | number : '1.2-2' }}</ion-label>
                    </ion-item>
                  </ion-col>
  
                  <ion-col size="12" size-md="4">
                    <app-btn-adicionar texto="continuar" icone="chevron-forward-outline"></app-btn-adicionar>
                  </ion-col>
                </ion-row>        
              </ion-list>
            </ion-card-content>
          </ion-card>
      
        </ion-col>
      </ion-row>
    </div>
  </ion-accordion>

</ion-accordion-group>