.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.carrinho{
    z-index: 999;
}

.carrinho-titulo{
    font-family: "Bahianita", sans-serif;
    font-size: 1.6rem;
}

.list{
    max-height: 340px;
    overflow-y: scroll;
    width: 100%;
}

.incrementer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}



ion-fab-botton{
    background-color: var(--verde);
}

.finalizar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    
}

.total{
    display: flex;
    flex-direction: row;
   
}

@media(max-width:768px)
{
    // .carrinho-titulo{
    //     font-size: 1rem;
    // }
 
    
}


ion-accordion {
    position: fixed; 
    bottom: 16px;   
    right: 16px;    
    margin: 0;  
    max-width: 100%;  
    width: 300px;   
  }
  
  ion-accordion.accordion-expanding,
  ion-accordion.accordion-expanded {
    width: auto;
    margin: 0;   
  }
  
  ion-accordion.accordion-collapsing ion-item[slot='header'],
  ion-accordion.accordion-collapsed ion-item[slot='header'] {
    --background: var(--ion-color-success);
    --color: var(--ion-color-primary);
  }
  
  ion-accordion.accordion-expanding ion-item[slot='header'],
  ion-accordion.accordion-expanded ion-item[slot='header'] {
    --background: var(--ion-color-success);
    --color: var(--ion-color-primary);
  }
  