.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.carrinho{
    z-index: 999;
}

.carrinho-titulo{
    font-family: "Bahianita", sans-serif;
    font-size: 1.6rem;
}

.list{
    max-height: 340px;
    overflow-y: scroll;
}

.incrementer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.fab-icon{
    left: 30%;
    bottom: -230%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ion-fab-botton{
    background-color: var(--verde);
}

.finalizar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.total{
    display: flex;
    flex-direction: row;
   
}

@media(max-width:768px)
{
    .fab-icon{
        bottom: -563%;
        left: 10%;
    }
}