<app-header></app-header>
<ion-content [fullscreen]="true">
<app-banner-rustico></app-banner-rustico>
<ion-row class="banner">
  <ion-col>
    <img src="{{banner.imagem}}" alt="" class="banner-img">
  </ion-col>
</ion-row>
<ion-row>
  <ng-container *ngFor="let card of this.cards">
    <ion-col class="card-container">
      <div class="label">
        <label class="card-label">{{card.text}}</label>
      </div>
      <div class="card-div">
        <img src="{{card.image}}" alt="" class="card-img">
      </div>
  </ion-col>
    </ng-container>
</ion-row>
 <ion-row>
  <ion-col >
    <img src="../../assets/img/fone.png" alt="">
    <div class="banner-footer">

      
    </div>
  </ion-col>
 </ion-row>
</ion-content>
<app-footer></app-footer>
