.banner{
    margin: auto;
    align-items: center;
    width: 1200px;
    height: 430px;
    margin-top: 50px;
    
}

.banner-img{
    width: 100vw;;
    height: 430px;
    object-fit: cover;
    filter: brightness(0.4);
}

.card-container{
  margin: auto;
  padding: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-img{
    width: 250px;
    height: 350px;

}

.label{
    position: absolute;
    top: 10%;
    left:18%;
    padding: 50px;
}
.card-label{
    font-family: "Bahianita", sans-serif;
    background-color:var(--verde);
    font-size: 2rem;
    color: var(--branco);
    border-radius: 20px;
    padding: 10px;
}
.banner-container{
    background: url("/assets/img/fundorusticoh.png");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    height: 420px;
    background-color: #D9D9D9;

}

.phone-img{
    position: absolute;
    height: 450px;
    width: 300px;
}
.texto{
    font-family: "Jaldi", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color:var(--preto);
}

.col-titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo{
    font-family: "Bahianita", sans-serif;
    font-size: 6rem;
    color:var(--branco);
}

.subtitulo{
    font-family: "Bahianita", sans-serif;
    background-color: var(--amarelo);
    color:var(--verde);
    font-size: 6rem;  
    border-top-left-radius:5rem ;
    border-bottom-left-radius: 5rem;
}
.text{
     display: flex;
     justify-content: center;
     text-align: center;
    flex-direction: row;
    justify-content: center;
    color: black;
}


.show{
    display: flex;
    align-items: center;
    flex-direction: column;
}