<ion-row class="container">
  <ion-col class="ion-text-center text" size="4" size-lg="3">
    <div class="titulo">
    <h1>{{trabalho.titulo}}</h1>
      </div>
      <div class="subtitulo">
          <h1 >{{trabalho.subtitulo}}</h1>
      </div>
  </ion-col>
  <ion-col class="custom-col" size="4" size-lg="5" >
    <div>
      <img src="/assets/img/mulher.png" alt="" srcset="" class="imagem">
    </div>
  </ion-col>
  <ion-col class="text-container " size="4" size-lg="4">
      <label class="text-descricao">
      Junte-se à nossa equipe!
      Se você gosta de trabalhar em equipe, tem energia e vontade de crescer, inscreva-se agora!
      Oferecemos um ambiente dinâmico, oportunidades de desenvolvimento e a chance de trabalhar com alimentos de qualidade.
      Inscreva-se e comece sua jornada conosco hoje!
      <a href="https://forms.gle/DRy4AyvFTiuj3VR8A" target="_blank" style="text-decoration: none;"><app-btn-adicionar texto="Inscreva-se" icone="person"></app-btn-adicionar></a>
      </label>
  </ion-col>
</ion-row>