<ion-row class="container">
  <ion-col class="ion-text-center text" size="4" size-lg="3">
      <div class="titulo">
          <h1>{{trabalho.titulo}}</h1>
      </div>
      <div class="subtitulo">
          <h1 >{{trabalho.subtitulo}}</h1>
      </div>
  </ion-col>
  <ion-col class="custom-col" size="4" size-lg="5" >
    <div>
      <img src="/assets/img/mulher.png" alt="" srcset="" class="imagem">
    </div>
  </ion-col>
  <ion-col class="text-container " size="4" size-lg="4">
    <div >
      <label>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's
         standard dummy text ever since the 1500s.
      </label>
      <app-btn-adicionar texto="Inscreva-se"></app-btn-adicionar>
    </div>
  </ion-col>
</ion-row>