.fundo{
    background-image: url(../../assets/img/fundo-madeira.jpg);
    background-size: cover;
    background-position: center;
}

.img-entrar{
    width: 335px;
    height: 327px;
}

.msg-boas{
    display: inline-block;
    position: relative;
    margin-left: 100px;
    margin-top: 120px;
    margin-bottom: 120px;
}

.msg-boas p{
    position: absolute;
    top: 80px;
    left: 20px;
    text-align: center;
    font-size: 25px;
}

.msg-boas span{
    font-size: 35px;    
}