.fundo{
    background-image: url(../../assets/img/fundo-madeira.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
}

.img-entrar-lanche{
    width: 450px;
    height: 450px;
}

.msg-boas{
    display: inline-block;
    position: relative;
    margin-left: 100px;
    margin-top: 120px;
    margin-bottom: 120px;
    margin-right: 250px;
}


.msg-boas p{
    position: absolute;
    top: 180px;
    left: 100px;
    text-align: center;
    font-size: 35px;
    font-family: "Jaldi", sans-serif;
}

.msg-boas span{
    font-size: 80px;
    font-family: "Bahianita", sans-serif;
    // box-shadow: 1px 1px black;
}

.entrar-botoes{
    margin-top: 150px;
}

.entr{
    display: inline-block;
    position: relative;
    margin-left: 100px;
}

.entr span{
    position: absolute;
    top: 0.5px;
    left: 140px;
    text-align: center;
    font-size: 70px;
    font-family: "Bahianita", sans-serif;
}

.cad{
    display: inline-block;
    position: relative;
    margin-left: 100px;
}

.cad span{
    position: absolute;
    top: 0.5px;
    left: 110px;
    text-align: center;
    font-size: 70px;
    font-family: "Bahianita", sans-serif;
}

.entrar-ou{
    width: 155px;
    height: 143px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 200px;
}

.btao{
    width: 380px;
    height: 75px;
}