
<ion-content [fullscreen]="true">
  <app-header></app-header>
    <div class="fundo">

      <div class="msg-boas">
        <ion-img class="img-entrar-lanche" src="../../assets/img/PNG-Sanduiche.png"></ion-img>
        <p> Bem-vindo(a) ao <br> <span> Chama Rústica Chopp & Burguer </span> </p>
      </div>

      <div class="entrar-botoes">
        <div class="cad">
          <ion-img class="btao" src="../../assets/img/botao-entrar.png"></ion-img>
          <span> Cadastrar </span>
        </div>
        
        <ion-img class="entrar-ou" src="../../assets/img/entrar-ou.png"></ion-img>
        
        <div class="entr">
          <ion-img class="btao" src="../../assets/img/botao-entrar.png"></ion-img>
          <span> Entrar </span>
        </div>
      </div>
      
    </div>
  <app-footer></app-footer>
</ion-content>