<ion-content [fullscreen]="true">
  <app-header></app-header>

    <div class="fundo">

      <div class="msg-boas">
        <ion-img class="img-entrar-lanche" src="../../assets/img/foto-welcome.png"></ion-img>
        <div class="texto">
          <p> Bem-vindo(a) ao </p>
          <span> Chama Rústica Chopp & Burguer </span> 
        </div>     
        
      </div>
   

      <div class="entrar-botoes">
        <div class="cad">
          <ion-img class="btao" src="../../assets/img/botao-entrar.png"></ion-img>
          <span routerLink="/cadastro"> Cadastrar </span>
        </div>
        
        <ion-img class="entrar-ou" src="../../assets/img/entrar-ou.png"></ion-img>
        
        <div class="entr">
          <ion-img class="btao" src="../../assets/img/botao-entrar.png"></ion-img>
          <span  routerLink="/login"> Entrar </span>
        </div>
      </div>
      
    </div>
    
  <app-footer></app-footer>
</ion-content>