.fundo{
    background-image: url(../../assets/img/fundo-madeira.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
}

.img-entrar{
    width: 335px;
    height: 327px;
}

.msg-boas{
    display: inline-block;
    position: relative;
    margin-left: 100px;
    margin-top: 120px;
    margin-bottom: 120px;
}

.msg-boas p{
    position: absolute;
    top: 80px;
    left: 20px;
    text-align: center;
    font-size: 25px;
}

.msg-boas span{
    font-size: 35px;    
}

.entrar-botoes{
    margin-left: 250px;
    margin-top: 100px;
}

.entr{
    display: inline-block;
    position: relative;
    margin-left: 100px;
}

.entr span{
    position: absolute;
    top: 10px;
    left: 120px;
    text-align: center;
    font-size: 50px;
}

.cad{
    display: inline-block;
    position: relative;
    margin-left: 100px;
}

.cad span{
    position: absolute;
    top: 10px;
    left: 80px;
    text-align: center;
    font-size: 50px;
}

.entrar-ou{
    width: 155px;
    height: 143px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 200px;
}

.btao{
    width: 380px;
    height: 75px;
}