/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

:root{
    --amarelo:#F9BB45;
    --verde:#10893E;
    --cinza:#D9D9D9;
    --branco:#FFFFFF;
    --preto:#000000;
}


.jaldi-regular {
    font-family: "Jaldi", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .jaldi-bold {
    font-family: "Jaldi", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  

  .bahianita-regular {
    font-family: "Bahianita", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:var(--branco);
    font-size: 2.5rem;
  }

  .bahianita-regular-yellow {
    font-family: "Bahianita", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:var(--amarelo);
    font-size: 2rem;
  }

    .bahianita-regular-large {
        font-family: "Bahianita", sans-serif;
        font-weight: 400;
        font-style: normal;
        color:var(--branco);
        font-size: 5rem;
    }

    .card-titulo{
      font-family: "Bahianita", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 3rem;
    }

    .card-preco{
      font-family: "Bahianita", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 2rem;
    }
    .card-descricao{
    font-family: "Jaldi", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;


    }

    

 