<ion-content [fullscreen]="true">

  <app-header></app-header>
    <app-banner></app-banner>
    <ion-row class="card-container">
      <ng-container *ngFor="let imagem of this.imagens">
        <ion-col  size="4" sizelg="3">
          
          <ion-card class="custom-card">
            <ion-img class="custom-img"
            src="{{imagem.foto}}"
            alt="#"
            ></ion-img>
          </ion-card>
          
        </ion-col>
      </ng-container>
    </ion-row>
    <app-banner-inscricao></app-banner-inscricao>
   <app-footer></app-footer>

</ion-content>