
<ion-content [fullscreen]="true">
  <div class="card-container">
    <ion-card class="custom-card">
      <ion-img class="custom-img"
      src="../../assets/img/Frame 2.png"
      alt="#"
    ></ion-img>
    </ion-card>
  
    <ion-card class="custom-card">
      <ion-img class="custom-img"
      src="../../assets/img/image 5.png"
      alt="#"
    ></ion-img>
    </ion-card>
  
    <ion-card class="custom-card">
      <ion-img class="custom-img"
      src="../../assets/img/image 6.png"
      alt="#"
    ></ion-img>
    </ion-card>
  </div>

  <div>
    <ion-row>
      <ion-col class="custom-color">
        <ion-img class="card-img" 
        src="../../assets/img/image 8.png"
        alt="#"
      ></ion-img>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        
        <section class="increva-se">
          <ion-img class="increva-se-img" 
          src="../../assets/img/Group 37.png"
          alt="#"
        ></ion-img>
        </section>

      </ion-col>
    </ion-row>
  </div>
</ion-content>