.text-sobre{
    height: 300px;
    width: 300px;
}

*{ text-decoration: none; }

#cardContato{ margin-top: 3rem; }

.cardTitulo{
    font-family: "Bahianita", sans-serif;
    font-size: 2rem;
}

.texto{ font-family: "Jaldi", sans-serif; }