<ion-content [fullscreen]="true">
  <app-header></app-header>
  <app-banner-rustico texto="SOBRE NÓS"></app-banner-rustico>

  <ion-row id="primeiro-sobrenos" class="ion-justify-content-center">

    <ion-col size="4" class="ion-margin">
    <ion-label class="texto">
      O Chama Rústica  foi inaugurado em 2022, com missão de oferecer os melhores hambúrgueres artesanais.
      Uma loucura entre três amigos trouxe deliciosos lanches para a cidade de Tatuí-SP, com o propósito em entregar os melhores Burgers cheio de sabor, proporcionar um espaço ao ar livre com profissionais qualificados para uma verdadeira experiência gastronômica através dos nossos produtos. Chama Rústica se estabelece nestes princípios através de uma infraestrutura planejada e equipada.
    </ion-label>
    <hr>
    <div>
      <ion-img src="../../assets/img/sobrenos-imgh.png"></ion-img> 
      <label class="projeto"> Projeto, CHAMA RÚSTICA 2023. </label> 
    </div>
    </ion-col>

    <ion-col size="5">  
      <ion-card color="warning" id="mapa-sobrenos">
        <ion-card-header>
          <ion-card-title class="cardTitulo">Venha nos conhecer!</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3662.913990817524!2d-47.84558065810309!3d-23.355130404319084!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c5d90720bef33b%3A0x2197c919c4c1a61d!2sCHAMA%20R%C3%9ASTICA%20Chopp%20%26%20Burger!5e0!3m2!1spt-BR!2sbr!4v1729122260513!5m2!1spt-BR!2sbr" width="466" height="400" style="border:0; border-radius:5px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </ion-card-content>
      </ion-card>
    </ion-col>
</ion-row>


<ion-row class="ion-justify-content-center" id="card-contatos">
  <ion-col size="4">
    <ion-card color="success">
      <ion-row class="ion-justify-content-center">    
        <ion-col size="6">
  
          <ion-card id="cardRedes" color="light">
            <ion-row class="ion-justify-content-center">
              <ion-col size="auto">
                <ion-avatar><a href="https://bit.ly/3zs7Zg1" target="_blank"><img src="../../assets/img/whatsappIcon.png"></a></ion-avatar>
                <a href="https://bit.ly/3zs7Zg1" target="_blank"> <ion-label color="dark">Whatsapp</ion-label> </a>
              </ion-col>
              <ion-col size="auto">
                <ion-avatar><a href="https://www.instagram.com/chamarustica/" target="_blank"><img src="../../assets/img/instagramIcon.png"></a></ion-avatar>
                <a href="https://www.instagram.com/chamarustica/" target="_blank"> <ion-label color="dark">Instagram</ion-label> </a>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col size="auto">
                <ion-avatar><a href="https://www.facebook.com/chamarusticachoppeburger" target="_blank"><img src="../../assets/img/facebookIcon.png"></a></ion-avatar>
                <a href="https://www.facebook.com/chamarusticachoppeburger" target="_blank"> <ion-label color="dark">Facebook</ion-label> </a>
              </ion-col>
              <ion-col size="auto" class="ion-text-center">
                <ion-avatar><a href=mailto:chamarustica@gmail.com><img src="../../assets/img/envelope 1.png"></a></ion-avatar>
                <a href=mailto:chamarustica@gmail.com> <ion-label color="dark">E-mail</ion-label> </a>
              </ion-col>
            </ion-row>
          </ion-card>

        </ion-col>

        <ion-col size="6" class="ion-text-center">
          <ion-card-title class="cardTitulo">Entre em contato conosco</ion-card-title>
          <ion-img src="../../assets/img/mulher-sobrenos.png"></ion-img>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-col>
</ion-row>

<app-footer></app-footer>
</ion-content>