.text-sobre{
    height: 300px;
    width: 300px;
}

*{ text-decoration: none; }

#card-contatos{
    margin-bottom: 30px;
}

#cardRedes{ margin-top: 3rem; }

.cardTitulo{
    font-family: "Bahianita", sans-serif;
    font-size: 2rem;
}

.texto{ 
    font-family: "Jaldi", sans-serif;
    font-size: 1.2rem;
}

#primeiro-sobrenos{
    margin-top: 50px;
    margin-bottom: 20px;
}

#mapa-sobrenos{
    margin-top: 70px;
    width: 500px;
    height: 500px;
}

.projeto{
    font-style: italic;
    color: darkgrey;
    font-size: 0.7rem;
}