<app-header></app-header>
<ion-content [fullscreen]="true">
<app-banner-rustico texto="Favoritos"></app-banner-rustico>
 
<ion-row>
  <ng-container *ngFor="let hamburguer of this.hamburgueres">
   <ion-col size="4" sizelg="3" class="card-container" >
     <ion-icon name="close" class="close"></ion-icon>
     <ion-card  size="12" sizelg="20" >
       <img src="{{hamburguer.star}}" alt="" srcset="" class="icon-img">
          <img class="card-img" alt="" src="{{hamburguer.imagem}}" />
          <ion-card-header>
            <ion-card-title>{{hamburguer.nome}}</ion-card-title>
            <ion-card-subtitle>{{hamburguer.preco}}</ion-card-subtitle>
          </ion-card-header>
          
          <ion-card-content>
            {{hamburguer.descricao}}
          </ion-card-content>
          <app-btn-adicionar texto="Adicionar"></app-btn-adicionar>
        </ion-card>
   </ion-col>
  </ng-container>
</ion-row>

<app-btn-adicionar texto="+ Favoritos"  icone="star-outline"></app-btn-adicionar>
</ion-content>


<app-footer></app-footer>
