.card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
}

.card-img{
    width: 527px;
    height: 329px;
}
.icon-img{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    width: 48px;
    height: 48px;
}