<app-header></app-header>
<ion-content [fullscreen]="true">
<app-banner-rustico texto="Favoritos"></app-banner-rustico>
 
<ion-row>
  <ng-container *ngFor="let hamburguer of this.favoritoService.produtos">
    <ng-container *ngIf="hamburguer.favorito">
      <ion-col size="4" sizelg="3" class="card-container" >
        <ion-card  size="12" sizelg="20" > 
           <img src="https://cdn1.iconfinder.com/data/icons/macster/70/.svg-17-512.png" class="icon-img">
         <!-- <ng-container *ngIf="hamburguer.favorito">
           <img src="https://cdn1.iconfinder.com/data/icons/macster/70/.svg-17-512.png" class="icon-img" (click)="favoritar(hamburguer)">
         </ng-container>
         <ng-container *ngIf="!hamburguer.favorito">
           <img src="https://img.icons8.com/?size=48&id=19295&format=png" class="icon-img"  (click)="favoritar(hamburguer)">
         </ng-container> -->
             <img class="card-img" alt="" src="{{hamburguer.imagem}}" />
             <ion-card-header>
               <ion-card-title>{{hamburguer.nome}}</ion-card-title>
               <ion-card-subtitle>{{hamburguer.preco}}</ion-card-subtitle>
             </ion-card-header>
             
             <ion-card-content>
               {{hamburguer.descricao}}
             </ion-card-content>
             <app-btn-adicionar texto="Adicionar"></app-btn-adicionar>
           </ion-card>
      </ion-col>
    </ng-container>
  </ng-container>
</ion-row>

<app-btn-adicionar texto="+ Favoritos"  icone="star-outline"></app-btn-adicionar>
</ion-content>


<app-footer></app-footer>
